<%= render 'shared/navbar' %>
<div class="container mt-5">
  <h1>Create new Certificate</h1>
  <h6 class="mb-5">All fields are required</h6>

  <%= form_for @certificate, url: certificates_path, html: { multipart: true } do |form| %>
  <div class="row">
    <div class="col">
      <h5 class="ml-3">Info</h5>
      <div class="form-group">
        <%= form.label :speaker, "Speaker:", class: "col control-label" %>
        <div class="col">
          <%= form.text_field :speaker, placeholder: 'Ilon Musk', required: true, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :date, "Date:", class: "col control-label" %>
        <div class="col">
          <%= form.date_field :date, required: true, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :name, "Filename:", class: "col control-label" %>
        <div class="col">
          <%= form.text_field :name, placeholder: 'musk', required: true, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= form.label :description, "Description:", class: "col control-label" %>
        <div class="col">
          <%= form.text_area :description, placeholder: 'Discussion of the problems of terraforming Mars', required: true, class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="col">
      <%= form.fields_for :rus_template do |rus| %>
        <h5 class="ml-3">🇷🇺Rus template</h5>
        <div class="form-group">
          <%= rus.label :xpos, "X-pos:", class: "col control-label" %>
          <div class="col">
            <%= rus.number_field :xpos, step: 1, placeholder: '400', class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= rus.label :ypos, "Y-pos:", class: "col control-label" %>
          <div class="col">
            <%= rus.number_field :ypos, step: 1, placeholder: '-100', class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= rus.label :font_size, "Font size:", class: "col control-label" %>
          <div class="col">
            <%= rus.number_field :font_size, min: 1, step: 1, placeholder: '82', class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= rus.label :font_color, "Font color (RGB code):", class: "col control-label" %>
          <div class="col">
            <%= rus.text_field :font_color, placeholder: '255,255,255', class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= rus.label :pdf_file, "PDF file:", class: "col control-label" %>
          <div class="col">
            <%= rus.file_field :pdf_file, class: "form-control" %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col">
      <%= form.fields_for :eng_template do |eng| %>
        <h5 class="ml-3">🇺🇸Eng Template</h5>
        <div class="form-group">
          <%= eng.label :xpos, "X-pos:", class: "col control-label" %>
          <div class="col">
            <%= eng.number_field :xpos, step: 1, placeholder: '600', class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= eng.label :ypos, "Y-pos:", class: "col control-label" %>
          <div class="col">
            <%= eng.number_field :ypos, step: 1, placeholder: '-200', class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= eng.label :font_size, "Font size:", class: "col control-label" %>
          <div class="col">
            <%= eng.number_field :font_size, min: 1, step: 1, placeholder: '82', class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= eng.label :font_color, "Font color (RGB code):", class: "col control-label" %>
          <div class="col">
            <%= eng.text_field :font_color, placeholder: '255,255,255', class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <%= eng.label :pdf_file, "PDF file:", class: "col control-label" %>
          <div class="col">
            <%= eng.file_field :pdf_file, class: "form-control" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="form-group mt-5 ml-3">
    <%= link_to "back", certificates_path, class: "btn btn-light" %>
    <%= form.submit class: "btn btn-outline-secondary" %>
  </div>
  <% end %>






  <%#= form_for @certificate, url: certificates_path, html: { multipart: true } do |form| %>

<!--    <div class="form-group">-->
      <%#= form.label :speaker, "Speaker:", class: "col-md-4 control-label" %>
<!--      <div class="col-md-8">-->
        <%#= form.text_field :speaker, class: "form-control" %>
<!--      </div>-->
<!--    </div>-->

<!--    <div class="form-group">-->
      <%#= form.label :description, "Description:", class: "col-md-4 control-label" %>
<!--      <div class="col-md-8">-->
        <%#= form.text_area :description, class: "form-control" %>
<!--      </div>-->
<!--    </div>-->

<!--    <div class="form-group">-->
      <%#= form.label :date, "Date:", class: "col-md-4 control-label" %>
<!--      <div class="col-md-8">-->
        <%#= form.date_field :date, class: "form-control" %>
<!--      </div>-->
<!--    </div>-->

<!--    <div class="form-group">-->
      <%#= form.label :name, "Filename:", class: "col-md-4 control-label" %>
<!--      <div class="col-md-8">-->
        <%#= form.text_field :name, class: "form-control" %>
<!--      </div>-->
<!--    </div>-->

<!--    <div class="form-group">-->
      <%#= form.label :language, "Language:", class: "col-md-4 control-label" %>
<!--      <div class="col-md-8">-->
        <%#= form.text_field :language, class: "form-control" %>
<!--      </div>-->
<!--    </div>-->

<!--    <div class="form-group">-->
      <%#= form.label :xpos, "X-pos:", class: "col-md-4 control-label" %>
<!--      <div class="col-md-8">-->
        <%#= form.text_field :xpos, class: "form-control" %>
<!--      </div>-->
<!--    </div>-->

<!--    <div class="form-group">-->
      <%#= form.label :ypos, "Y-pos:", class: "col-md-4 control-label" %>
<!--      <div class="col-md-8">-->
        <%#= form.text_field :ypos, class: "form-control" %>
<!--      </div>-->
<!--    </div>-->

<!--    <div class="form-group">-->
      <%#= form.label :template, "Template (PDF only):", class: "col-md-4 control-label" %>
<!--      <div class="col-md-8">-->
        <%#= form.file_field :template, class: "form-control" %>
<!--      </div>-->
<!--    </div>-->



<!--    <div>-->
      <%#= form.fields_for :rus_template do |r| %>
<!--        <h3>Add RUS Template</h3>-->
<!--        <div class="form-group">-->
          <%#= r.label :xpos, "X-pos:", class: "col-md-4 control-label" %>
<!--          <div class="col-md-8">-->
            <%#= r.number_field :xpos, step: 1, class: "form-control" %>
<!--          </div>-->
<!--        </div>-->
<!--        <div class="form-group">-->
          <%#= r.label :ypos, "Y-pos:", class: "col-md-4 control-label" %>
<!--          <div class="col-md-8">-->
            <%#= r.number_field :ypos, step: 1, class: "form-control" %>
<!--          </div>-->
<!--        </div>-->
<!--        <div class="form-group">-->
          <%#= r.label :font_size, "Font size:", class: "col-md-4 control-label" %>
<!--          <div class="col-md-8">-->
            <%#= r.number_field :font_size, min: 1, step: 1, class: "form-control" %>
<!--          </div>-->
<!--        </div>-->
<!--        <div class="form-group">-->
          <%#= r.label :font_color, "Font color (RGB code):", class: "col-md-4 control-label" %>
<!--          <div class="col-md-8">-->
            <%#= r.text_field :font_color, class: "form-control" %>
<!--          </div>-->
<!--        </div>-->
<!--        <div class="form-group">-->
          <%#= r.label :pdf_file, "PDF file:", class: "col-md-4 control-label" %>
<!--          <div class="col-md-8">-->
            <%#= r.file_field :pdf_file, class: "form-control" %>
<!--          </div>-->
<!--        </div>-->
      <%# end %>


<!--    </div>-->


<!--    <div class="form-group mt-5 ml-3">-->
      <%#= form.submit class: "btn btn-success" %>
      <%#= link_to "back", certificates_path, class: "btn btn-link" %>
<!--    </div>-->

  <%# end %>


</div>