<%= render 'shared/navbar' %>
<div class="container mt-5">

  <div class="d-flex justify-content-between">
    <h1>Certificate #<%= @certificate.id %></h1>
    <div style="display: flex; align-items: center; justify-content: flex-start;">
      <%= link_to 'Edit', edit_certificate_path(@certificate), class: "btn btn-outline-secondary btn-sm" %>
      <%= button_to 'Delete', certificate_path(@certificate), class: 'btn btn-outline-danger btn-sm ml-2', method: :delete, data: { confirm: 'Are you sure you want to DELETE this Certificate?' } %>

    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-sm-6">
      <table class="table table-borderless table-sm">
        <thead>
        <tr>
          <th scope="col" style="width: 10%;"></th>
          <th scope="col" style="width: 90%;"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><span class="font-weight-lighter">Speaker:</span></td>
          <td><span class="font-weight-normal"><%= @certificate.speaker %></span></td>
        </tr>
        <tr>
          <td><span class="font-weight-lighter">Description:</span></td>
          <td><span class="font-weight-normal"><%= @certificate.description %></span></td>
        </tr>
        <tr>
          <td><span class="font-weight-lighter">Date:</span></td>
          <td><span class="font-weight-normal"><%= @certificate.date.strftime('%d.%m.%y') %></span></td>
        </tr>
        <tr>
          <td><span class="font-weight-lighter">Filename:</span></td>
          <td><span class="font-weight-normal"><%= @certificate.name %></span></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-3">
      <div class="d-flex align-items-center justify-content-center" style="height: 36px">
        <h6 style="margin: 0">🇷🇺Rus template</h6>
        <% if @certificate.rus_template %>
          <div>
            <%= button_to '&#10007;'.html_safe, rus_template_path(@rus_template), class: 'btn btn-outline-danger btn-sm ml-2', style: 'border: none', method: :delete, data: { confirm: 'Are you sure you want to DELETE this Rus template?' } if @rus_template%>
            <!--            TODO change on DESTROY Action-->
            <%#= link_to new_rus_template_path(certificate_id: @certificate.id) do %>
<!--              <button type="button" class="btn btn-outline-danger btn-sm ml-2" style="border: none;">-->
<!--                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">-->
<!--                  <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>-->
<!--                </svg>-->
<!--              </button>-->
            <%# end %>
<!--            TODO change on DESTROY Action-->
          </div>
        <% end %>
      </div>
      <div style="height: 80%">
        <% if @certificate.rus_template %>
          <div class="d-flex align-items-center justify-content-center mt-2">
            <%= image_tag @certificate.rus_template.pdf_file.url(:thumb) %>
          </div>
          <div class="d-flex justify-content-center ml-4">
            <table class="table table-borderless table-sm">
              <thead>
              <tr>
                <th scope="col" style="width: 40%;"></th>
                <th scope="col" style="width: 60%;"></th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td><span class="font-weight-lighter">X-pos:</span></td>
                <td><span class="font-weight-normal"><%= @certificate.rus_template.xpos %></span></td>
              </tr>
              <tr>
                <td><span class="font-weight-lighter">Y-pos:</span></td>
                <td><span class="font-weight-normal"><%= @certificate.rus_template.ypos %></span></td>
              </tr>
              <tr>
                <td><span class="font-weight-lighter">Font color:</span></td>
                <td><span class="font-weight-normal"><%= @certificate.rus_template.font_color %></span></td>
              </tr>
              <tr>
                <td><span class="font-weight-lighter">Font size:</span></td>
                <td><span class="font-weight-normal"><%= @certificate.rus_template.font_size %></span></td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="d-flex align-items-center justify-content-center">
            <%= link_to 'Edit', edit_rus_template_path(@rus_template), class: "btn btn-outline-secondary btn-sm" %>
          </div>
      <% else %>
          <div class="d-flex align-items-center justify-content-center" style="height: 100%;">
            <%= link_to new_rus_template_path(certificate_id: @certificate.id) do %>
              <button type="button" class="btn btn-outline-secondary" style="width: 6em; height: 6em; border: none;">
                <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-plus-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                </svg>
              </button>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-sm-3">

      <div class="d-flex align-items-center justify-content-center" style="height: 36px">
        <h6 style="margin: 0;">🇺🇸Eng template</h6>
        <% if @certificate.eng_template %>
          <div>
            <%= button_to '&#10007;'.html_safe, eng_template_path(@eng_template), class: 'btn btn-outline-danger btn-sm ml-2', style: 'border: none', method: :delete, data: { confirm: 'Are you sure you want to DELETE this Eng template?' }%>
            <!--            TODO change on DESTROY Action-->
            <%#= link_to new_eng_template_path(certificate_id: @certificate.id) do %>
<!--              <button type="button" class="btn btn-outline-danger btn-sm ml-2" style="border: none;">-->
<!--                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">-->
<!--                  <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>-->
<!--                </svg>-->
<!--              </button>-->
            <%# end %>
            <!--            TODO change on DESTROY Action-->
          </div>
        <% end %>
      </div>

      <div style="height: 80%">
        <% if @certificate.eng_template %>
          <div class="d-flex align-items-center justify-content-center mt-2">
            <%= image_tag @certificate.eng_template.pdf_file.url(:thumb) %>
          </div>
          <div class="d-flex justify-content-center ml-4">
            <table class="table table-borderless table-sm">
              <thead>
              <tr>
                <th scope="col" style="width: 40%;"></th>
                <th scope="col" style="width: 60%;"></th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td><span class="font-weight-lighter">X-pos:</span></td>
                <td><span class="font-weight-normal"><%= @certificate.eng_template.xpos %></span></td>
              </tr>
              <tr>
                <td><span class="font-weight-lighter">Y-pos:</span></td>
                <td><span class="font-weight-normal"><%= @certificate.eng_template.ypos %></span></td>
              </tr>
              <tr>
                <td><span class="font-weight-lighter">Font color:</span></td>
                <td><span class="font-weight-normal"><%= @certificate.eng_template.font_color %></span></td>
              </tr>
              <tr>
                <td><span class="font-weight-lighter">Font size:</span></td>
                <td><span class="font-weight-normal"><%= @certificate.eng_template.font_size %></span></td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="d-flex align-items-center justify-content-center">
            <%= link_to 'Edit', edit_eng_template_path(@eng_template), class: "btn btn-outline-secondary btn-sm" %>
          </div>
        <% else %>
          <div class="d-flex align-items-center justify-content-center" style="height: 100%;">
            <%= link_to new_eng_template_path(certificate_id: @certificate.id) do %>
              <button type="button" class="btn btn-outline-secondary" style="width: 6em; height: 6em; border: none;">
                <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-plus-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                </svg>
              </button>
            <% end %>
          </div>
        <% end %>
    </div>
    </div>
  </div>

  <hr>

  <%= link_to "All certificates", certificates_path(), class: "btn btn-outline-secondary btn-sm" %>


  <%#= button_to '&#10007;'.html_safe, rus_template_path(@rus_template), class: 'btn btn-outline-danger btn-sm ml-2', method: :delete, data: { confirm: 'Are you sure you want to DELETE this Rus template?' } if @rus_template%>










</div>

