<div class="container mt-5">

  <h1>Edit Eng template #<%= @eng_template.id %></h1>

  <h6 class="mb-5">All fields are required</h6>

  <%= form_for @eng_template, url: admin_eng_template_path do |eng| %>

    <div class="form-group">
      <%= eng.label :xpos, "X-pos:", class: "col control-label" %>
      <div class="col">
        <%= eng.number_field :xpos, step: 1, placeholder: '400', class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= eng.label :ypos, "Y-pos:", class: "col control-label" %>
      <div class="col">
        <%= eng.number_field :ypos, step: 1, placeholder: '-100', class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= eng.label :font_size, "Font size:", class: "col control-label" %>
      <div class="col">
        <%= eng.number_field :font_size, min: 1, step: 1, placeholder: '82', class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= eng.label :font_color, "Font color (CMYK code):", class: "col control-label" %>
      <div class="col">
        <%= eng.text_field :font_color, placeholder: '0,0,0,0', class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <div class="d-flex align-items-center justify-content-start mt-2 ml-3">

        <%= image_tag @eng_template.pdf_file.url(:medium) %>

        <div class="form-group">
          <%= eng.label :pdf_file, "PDF file:", class: "col control-label" %>
          <div class="col">
            <%= eng.file_field :pdf_file, class: "form-control" %>
          </div>
        </div>

      </div>
    </div>

    <div class="form-group mt-5 ml-3">
      <%= link_to "back", admin_certificate_path(@eng_template.certificate), class: "btn btn-light" %>
      <%= eng.submit class: "btn btn-outline-secondary" %>
    </div>

  <% end %>

</div>