<div class="container mt-5">
  <h1>Create new Marathon</h1>
  <h6 class="mb-5">All fields are required (except Lastname)</h6>


  <%= form_for @marathon, url: admin_marathons_path do |f| %>

    <h5 class="mt-5 mb-3 text-center">Общая информация</h5>
    <div class="row" style="width: 100%;">

      <div class="col-sm-8 justify-content-center" style="align-items: center; display: flex; flex-direction: column;">
        <div class="form-group" style="width: 100%;">
          <%= f.label :name, "Name:", class: "col control-label" %>
          <div class="col">
            <%= f.text_field :name, required: true, class: "form-control" %>
          </div>
        </div>
        <div class="form-group" style="width: 100%;">
          <%= f.label :description, "Description:", class: "col control-label" %>
          <div class="col">
            <%= f.text_area :description, placeholder: 'Description', required: true, class: "form-control" %>
          </div>
        </div>
      </div>

      <div class="col-sm-4" style="width: 100%; border: 1px solid #ced4da; border-radius: .25rem; padding: 16px;">

        <div class="form-group justify-content-center" style="align-items: center; display: flex; flex-direction: column;">
          <img src="<%= asset_path('add_picture.png') %>" alt="..." style="height: 15em; width: 15em; padding: 16px;">
        </div>

        <div class="input-group">
          <span class="input-group-append">
            <span class="btn btn-secondary" style="border: none; border-top-left-radius: .25rem; border-bottom-left-radius: .25rem" onclick="$(this).parent().find('input[type=file]').click();">Browse</span>
            <%= f.file_field :logo, onchange: "$(this).parent().parent().find('.form-control').html($(this).val().split(/[\\\\|/]/).pop());", style: "display: none;" %>
            </span>
          <span type="text" class="form-control"></span>
        </div>
        <%#= f.file_field :logo, class: "form-control", type: "file", id: "formFile", style: "border: none" %>
      </div>

    </div>

    <table class="table table-borderless table-hover mt-5">
      <tbody >
      <tr>
        <td style="width: 30%; vertical-align: middle;"><h6>Разрешение шаблонов</h6></td>
        <td style="width: 35%; vertical-align: middle;">
          <div class="row">
            <div class="col-sm-6">
              <%= f.label :pdf_width, "PDF width:" %>
            </div>
            <div class="col-sm-6">
              <%= f.text_field :pdf_width, required: true, class: "form-control" %>
            </div>
          </div>
        </td>

        <td style="width: 35%; vertical-align: middle;">
          <div class="row">
            <div class="col-sm-6">
              <%= f.label :pdf_height, "PDF height:" %>
            </div>
            <div class="col-sm-6">
              <%= f.text_field :pdf_height, required: true, class: "form-control" %>
            </div>
          </div>
        </td>
      </tr>

      <tr>
        <td style="width: 30%; vertical-align: middle;"><h6>Расположение текста</h6></td>
        <td style="width: 35%; vertical-align: middle;">
          <div class="row">
            <div class="col-sm-6">
              <%= f.label :x_pos, "X-pos:" %>
            </div>
            <div class="col-sm-6">
              <%= f.text_field :x_pos, required: true, class: "form-control" %>
            </div>
          </div>
        </td>
        <td style="width: 35%; vertical-align: middle;">
          <div class="row">
            <div class="col-sm-6">
              <%= f.label :y_pos, "Y-pos:" %>
            </div>
            <div class="col-sm-6">
              <%= f.text_field :y_pos, required: true, class: "form-control" %>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td style="width: 30%;"><h6>Размер и цвет текста</h6></td>
        <td style="width: 35%; vertical-align: middle;">
          <div class="row">
            <div class="col-sm-6">
              <%= f.label :font_size, "Font size:" %>
            </div>
            <div class="col-sm-6">
              <%= f.text_field :font_size, required: true, class: "form-control" %>
            </div>
          </div>
        </td>
        <td style="width: 35%; vertical-align: middle;">
          <div class="row">
            <div class="col-sm-6">
              <%= f.label :font_color, "Font color:" %>
            </div>
            <div class="col-sm-6">
              <%= f.text_field :font_color, required: true, class: "form-control" %>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>

    <div class="form-group mt-5 ml-3">
      <%= link_to "back", admin_marathons_path, class: "btn btn-light" %>
      <%= f.submit class: "btn btn-outline-secondary" %>
    </div>

  <% end %>







<!--  <div class="col">-->
    <%#= form_for @marathon, url: admin_marathons_path do |f| %>

<!--      <div class="form-group">-->
        <%#= f.label :name, "Name:", class: "col control-label" %>
<!--        <div class="col">-->
          <%#= f.text_field :name, required: true, class: "form-control" %>
<!--        </div>-->
<!--      </div>-->

<!--      <div class="form-group">-->
        <%#= f.label :pdf_width, "PDF width:", class: "col control-label" %>
<!--        <div class="col">-->
          <%#= f.number_field :pdf_width, step: 1, placeholder: '2210', required: true, class: "form-control" %>
<!--        </div>-->
<!--      </div>-->

<!--      <div class="form-group">-->
        <%#= f.label :pdf_height, "PDF height:", class: "col control-label" %>
<!--        <div class="col">-->
          <%#= f.number_field :pdf_height, step: 1, placeholder: '1563', required: true, class: "form-control" %>
<!--        </div>-->
<!--      </div>-->

<!--      <div class="form-group">-->
        <%#= f.label :x_pos, "X-pos:", class: "col control-label" %>
<!--        <div class="col">-->
          <%#= f.number_field :x_pos, step: 1, placeholder: '400', required: true, class: "form-control" %>
<!--        </div>-->
<!--      </div>-->

<!--      <div class="form-group">-->
        <%#= f.label :y_pos, "Y-pos:", class: "col control-label" %>
<!--        <div class="col">-->
          <%#= f.number_field :y_pos, step: 1, placeholder: '-100', required: true, class: "form-control" %>
<!--        </div>-->
<!--      </div>-->

<!--      <div class="form-group">-->
        <%#= f.label :font_size, "Font size:", class: "col control-label" %>
<!--        <div class="col">-->
          <%#= f.number_field :font_size, min: 1, step: 1, placeholder: '82', required: true, class: "form-control" %>
<!--        </div>-->
<!--      </div>-->

<!--      <div class="form-group">-->
        <%#= f.label :font_color, "Font color (CMYK code):", class: "col control-label" %>
<!--        <div class="col">-->
          <%#= f.text_field :font_color, placeholder: '0,0,0,0', required: true, class: "form-control" %>
<!--        </div>-->
<!--      </div>-->

<!--      <div class="form-group">-->
        <%#= f.label :description, "Description:", class: "col control-label" %>
<!--        <div class="col">-->
          <%#= f.text_field :description, placeholder: 'Description', required: true, class: "form-control" %>
<!--        </div>-->
<!--      </div>-->

<!--      <div class="form-group">-->
        <%#= f.label :logo, "Image logo:", class: "col control-label" %>
<!--        <div class="col">-->
          <%#= f.file_field :logo, required: true, class: "form-control" %>
<!--        </div>-->
<!--      </div>-->

<!--      <div class="form-group mt-5 ml-3">-->
        <%#= link_to "back", admin_marathons_path, class: "btn btn-light" %>
        <%#= f.submit class: "btn btn-outline-secondary" %>
<!--      </div>-->
    <%# end %>
<!--  </div>-->

</div>