<div class="container mt-5">

  <h1>Edit User #<%= @user.id %></h1>

  <h6 class="mb-5">All fields are required (except Lastname)</h6>

  <%= form_for @user, url: admin_user_path do |f| %>

    <div class="form-group">
      <%= f.label :marathon_id, "Marathon:", class: "col control-label" %>
      <div class="col">
        <%= f.select :marathon_id, options_from_collection_for_select(@marathons, "id", "name", params[:marathon_id]), { prompt: '-- Select One --'}, {required: true, class: "form-control", disabled: true} %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :firstname, "Firstname:", class: "col control-label" %>
      <div class="col">
        <%= f.text_field :firstname, required: true, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :lastname, "Lastname:", class: "col control-label" %>
      <div class="col">
        <%= f.text_field :lastname, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :email, "Email:", class: "col control-label" %>
      <div class="col">
        <%= f.text_field :email, required: true, class: "form-control" %>
      </div>
    </div>

<!--    <div class="form-group">-->
      <%#= f.label :language, "Language:", class: "col control-label" %>
<!--      <div class="col">-->
        <%#= f.select :language, options_for_select(%w(rus eng)), { prompt: '-- Select One --'}, {required: true, class: "form-control"} %>
        <%#= f.select :language, %w(rus eng), { required: true }, { class: "form-control" } %>
<!--      </div>-->
<!--    </div>-->

    <div class="form-group mt-5 ml-3">
      <%= link_to "back", admin_users_path, class: "btn btn-light" %>
      <%= f.submit class: "btn btn-outline-secondary" %>
    </div>

  <% end %>

</div>