<div class="container mt-5">
  <div class="d-flex align-items-center justify-content-between">
    <h1>All Users</h1>
    <%= link_to 'Create new', new_admin_user_path(), class: "btn btn-outline-primary btn-sm" %>
  </div>

  <h6 class="text-muted font-weight-light">Created participants in the system for <span style="font-weight: bold">all</span> marathons <span class="badge badge-light"><%= User.count %></span></h6>

  <form class="mt-5" style="width: 100%; border: 1px solid #ced4da; border-radius: .25rem; padding-bottom: 16px; padding-top: 16px">
    <div class="search-wrap">

      <%= search_form_for @q, url: admin_users_path do |f| %>

        <div style="width: 5%; padding: 5px;">
        </div>

        <div style="width: 20%; padding: 5px;">
          <%= f.select :marathon_id_eq, options_from_collection_for_select(@marathons, "id", "name", params.dig('q', 'marathon_id_eq') || params[:from_marathon]), { :include_blank => true }, class: "form-control" %>
        </div>

        <div style="width: 15%; padding: 5px;">
          <%= f.search_field :firstname_cont, class: "form-control", placeholder: "contains" %>
        </div>

        <div style="width: 15%; padding: 5px;">
          <%= f.search_field :lastname_cont, class: "form-control", placeholder: "contains" %>
        </div>

        <div style="width: 20%; padding: 5px;">
          <%= f.search_field :email_cont, class: "form-control", placeholder: "contains" %>
        </div>

        <div style="width: 10%; padding: 5px;">
          <%= f.select :state_eq, options_for_select(['done', 'wait'], params.dig('q', 'state_eq')), { :include_blank => true }, { class: "form-control", placeholder: "equals" } %>
        </div>

        <div style="width: 15%; padding: 5px; display: flex; justify-content: center;">
          <div class="btn-group" role="group" aria-label="Basic example">
            <%= f.submit :Search, type: "submit", class: "btn btn-sm btn-outline-success" %>
            <%= link_to '&times;'.html_safe, request.path, class: "btn btn-sm btn-success" %>
          </div>
        </div>

      <% end %>

    </div>
  </form>

  <div class="row mt-5">
    <div class="col-12">

      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col" style="text-align: center; width: 5%">#</th>
            <th scope="col" style="width: 20%">Marathon</th>
            <th scope="col" style="width: 15%">Firstname</th>
            <th scope="col" style="width: 15%">Lastname</th>
            <th scope="col" style="width: 20%">Email</th>
            <th scope="col" style="text-align: center; width: 10%">State</th>
            <th scope="col" style="text-align: center; width: 15%"></th>
          </tr>
        </thead>

        <tbody>
          <% @users.each_with_index { |user, index|  %>
            <tr>
              <th style="text-align: center; width: 5%" scope="row"><%= index + 1 %></th>
              <td style="width: 20%"><%= user.marathon.name %></td>
              <td style="width: 15%"><%= user.firstname %></td>
              <td style="width: 15%"><%= user.lastname %></td>
              <td style="width: 20%"><%= user.email %></td>
              <td style="text-align: center; width: 10%">
                <% if user.state == 'done' %>
                  <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="green" class="bi bi-check-circle-fill mr-2" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                  </svg>
                <% end %>
              </td>
              <td style="text-align: center; width: 15%"><%= link_to 'show', admin_user_path(user), class: "btn btn-outline-secondary btn-sm" %></td>
            </tr>
          <% } %>
        </tbody>

      </table>

    </div>
  </div>

  <div class="d-flex align-items-center justify-content-center mt-3" style="padding-bottom: 44px">
    <%= paginate @users %>
  </div>

<!--  <div class="col" style="max-width: 30%; position: relative;">-->
<!--    <div class="search-form" style="max-width: 30%;">-->
<!--      <form>-->
<!--        <h4 class="d-flex justify-content-center mt-3 mb-3">Search users</h4>-->
<!--        <div>-->
          <%#= search_form_for @q, url: admin_users_path do |f| %>

<!--              <div class="form-group">-->
                <%#= f.label "Firstname:", class: "col-md-4 control-label" %>
<!--                <div class="col-auto">-->
                  <%#= f.search_field :firstname_cont, class: "form-control", placeholder: "contains" %>
<!--                </div>-->
<!--              </div>-->

<!--              <div class="form-group">-->
                <%#= f.label "Lastname:", class: "col-md-4 control-label" %>
<!--                <div class="col-auto">-->
                  <%#= f.search_field :lastname_cont, class: "form-control", placeholder: "contains" %>
<!--                </div>-->
<!--              </div>-->

<!--            <div class="form-group">-->
              <%#= f.label "Email:", class: "col-md-4 control-label" %>
<!--              <div class="col-auto">-->
                <%#= f.search_field :email_cont, class: "form-control", placeholder: "contains" %>
<!--              </div>-->
<!--            </div>-->

<!--            <div class="form-group">-->
              <%#= f.label "State:", class: "col-md-4 control-label" %>
<!--              <div class="col-auto">-->
                <%#= f.select :state_eq, options_for_select(['done', 'wait'], params.dig('q', 'state_eq')), { :include_blank => true }, { class: "form-control", placeholder: "equals" } %>
<!--              </div>-->
<!--            </div>-->

<!--            <div class="form-group">-->
              <%#= f.label "Marathon:", class: "col-md-4 control-label" %>
<!--              <div class="col-auto">-->
                <%#= f.select :language_eq, options_for_select(%w(rus eng)), { prompt: '-- Select One --' }, class: "form-control" %>
                <%#= f.select :marathon_id_eq, options_from_collection_for_select(@marathons, "id", "name", params.dig('q', 'marathon_id_eq') || params[:from_marathon]), { :include_blank => true }, class: "form-control" %>
<!--              </div>-->
<!--            </div>-->

<!--            <div class="col-auto d-flex justify-content-end mt-3 mb-3">-->
              <%#= f.submit :Search, type: "submit", class: "btn btn-outline-success" %>
              <%#= link_to '&times;'.html_safe, request.path, class: "btn btn-light ml-3" %>
<!--            </div>-->
          <%# end %>
<!--        </div>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->

</div>
