<div class="container mt-5">
  <div class="d-flex align-items-center justify-content-between">
    <h1>Certificates</h1>
    <%= link_to 'Create new', new_admin_certificate_path(), class: "btn btn-outline-primary btn-sm" %>
  </div>

  <h6 class="text-muted font-weight-light">for English speaking participants <span class="badge badge-light"><%= Certificate.scope_by_language('eng').count %></span></h6>
  <h6 class="text-muted font-weight-light">for Russian speaking participants <span class="badge badge-light"><%= Certificate.scope_by_language('rus').count %></span></h6>

  <table class="table table-hover mt-5">
    <thead>
    <tr>
      <th scope="col" style="width: 5%; text-align: center">#</th>
      <th scope="col" style="width: 20%;">Speaker</th>
      <th scope="col" style="width: 45%;">Description</th>
      <th scope="col" style="width: 10%; text-align: center">Date</th>
      <th scope="col" style="width: 5%;">Rus</th>
      <th scope="col" style="width: 5%;">Eng</th>
      <th scope="col" style="width: 10%; text-align: center"></th>
    </tr>
    </thead>
    <tbody>

    <% @certificates.each_with_index { |cert, index|  %>
      <tr>
        <% speaker_class = 'text-danger' if (cert.speaker_eng == nil || cert.speaker_eng == '') && cert.eng_template.present? %>
        <% description_class = 'text-danger' if (cert.description_eng == nil || cert.description_eng == '') && cert.eng_template.present? %>

        <th style="text-align: center" scope="row"><%= index + 1 %></th>
        <td class=<%= speaker_class %>>
          <%= cert.speaker %>
        </td>
        <td class=<%= description_class %>>
          <%= cert.description %>
        </td>
        <td style="text-align: center"><%= cert.date.strftime('%d.%m.%y') %></td>

        <td style="text-align: center">
          <% if cert.rus_template %>
            <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-journal-check" fill="green" xmlns="http://www.w3.org/2000/svg">
              <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
              <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
              <path fill-rule="evenodd" d="M10.854 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 8.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
            </svg>
          <% else %>
            <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-journal-x" fill="red" xmlns="http://www.w3.org/2000/svg">
              <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
              <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
              <path fill-rule="evenodd" d="M6.146 6.146a.5.5 0 0 1 .708 0L8 7.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 8l1.147 1.146a.5.5 0 0 1-.708.708L8 8.707 6.854 9.854a.5.5 0 0 1-.708-.708L7.293 8 6.146 6.854a.5.5 0 0 1 0-.708z"/>
            </svg>
          <% end %>
        </td>

        <td style="text-align: center">
          <% if cert.eng_template %>
            <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-journal-check" fill="green" xmlns="http://www.w3.org/2000/svg">
              <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
              <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
              <path fill-rule="evenodd" d="M10.854 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 8.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
            </svg>
          <% else %>
            <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-journal-x" fill="red" xmlns="http://www.w3.org/2000/svg">
              <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
              <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
              <path fill-rule="evenodd" d="M6.146 6.146a.5.5 0 0 1 .708 0L8 7.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 8l1.147 1.146a.5.5 0 0 1-.708.708L8 8.707 6.854 9.854a.5.5 0 0 1-.708-.708L7.293 8 6.146 6.854a.5.5 0 0 1 0-.708z"/>
            </svg>
          <% end %>
        </td>

        <td style="text-align: center"><%= link_to 'show', admin_certificate_path(cert), class: "btn btn-outline-secondary btn-sm" %></td>

      </tr>
    <% } %>
    </tbody>
  </table>


</div>